body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    
    background-color: rgb(177, 172, 172);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maingrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 250px);

    gap: 1,5em;
}

.maingrid:nth-child(2){
    background-color: black;
}


.image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.bleach {
 grid-column: span 2;
}

.naruto {
   grid-column-start: 2;
   grid-column: span 2;
}

.tower {
    grid-column-start: 1;
    grid-row: span 2;
}

.reborn {
    grid-row: span 2;
}

@media (max-width: 1444px) {
    .maingrid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


@media (max-width: 500px) {
    .maingrid {
        grid-template-columns: repeat(1, 150);
    }
    .image {
        grid-template-columns: 1;
    }
    .boji {
        display: none;
    }
}

@media (max-width: 1824px) {
    .maingrid {
        margin-top: 30vh;
    }
}


@media (max-width: 1283px) {
    .maingrid {
        margin-top: 40vh;
    }
}

@media (max-width: 704px) {
    .maingrid {
        margin-top: 90vh;
    }
}

